@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.store {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.toolbar {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}
